Repository AnnaIsah/SAP007-social-network, pull requests merged in 2022-05, with the labels that each got.

#39 feat: comment function
  src/components/timelinepost.js
  src/pages/feed/feed.js
  src/pages/feed/firestore-functions.js
Labels: feat

#40 feat: comment remove
  src/components/comments.js
  src/components/timelinepost.js
  src/img/linhaFotoComentario.png
  src/pages/feed/feed.js
  src/pages/feed/firestore-functions.js
  src/pages/login/login.css
Labels: feat

#41 refaturação para inclusão da url da foto de perfil e nome da pagina d…
  package.json
  src/img/avatar.jpg
  src/pages/feed/feed.js
  src/pages/register/create-login.css
  src/pages/register/create-login.js
  src/pages/register/page-register.js
Labels: feat, fix

#42 Fix/cssfeed
  package.json
  src/components/comments.js
  src/components/timelinepost.js
  src/components/timelineposts.css
  src/img/line.svg
  src/index.html
  src/pages/about/about.css
  src/pages/about/about.js
  src/pages/feed/feed.css
  src/pages/feed/feed.js
  src/pages/feed/firestore-functions.js
  src/pages/login/login.css
  src/pages/login/login.js
  src/pages/register/page-register.js
  src/style/reset.css
  test/pages/feed.spec.js
  test/pages/login.spec.js
  test/pages/register.spec.js
Labels: fix

#43 Fix/eslint errors/ tests
  src/configurafirebase/__mocks__/exports.js
  src/configurafirebase/configfirestore.js
  src/configurafirebase/exports.js
  src/index.js
  src/pages/feed/__mocks__/firestore-functions.js
  src/pages/feed/feed.css
  src/pages/feed/firestore-functions.js
  src/pages/login/login.css
  src/pages/register/create-login.css
  test/index.spec.js
  test/pages/feed.spec.js
Labels: feat, fix

#44 feat: password recovery page creation
  src/components/errorHandling.js
  src/index.js
  src/pages/about/about.css
  src/pages/about/about.js
  src/pages/feed/feed.js
  src/pages/login/authentication.js
  src/pages/login/login.css
  src/pages/login/login.js
  src/pages/recover/recover-password.js
  src/pages/recover/recover.css
  src/style/style.css
Labels: feat, fix

#45 feat: tests function feed
  src/components/timelinepost.js
  src/pages/feed/__mocks__/firestore-functions.js
  src/pages/feed/feed.js
  src/pages/feed/firestore-functions.js
  src/pages/login/login.css
  src/pages/login/login.js
  test/pages/feed.spec.js
Labels: test

#46 test: page Login
  src/components/errorHandling.js
  src/configurafirebase/__mocks__/exports.js
  src/pages/login/authentication.js
  src/pages/login/login.js
  test/index.spec.js
  test/pages/login.spec.js
Labels: test

#47 Feat/tests/functionsfeed
  babel.config.js
  package.json
  src/components/functions-components.js
  src/pages/feed/feed.css
  src/pages/feed/feed.js
  src/pages/login/errorHandling.js
  test/pages/feed.spec.js
Labels: test

#48 test: like function
  test/pages/feed.spec.js
Labels: test

#49 Feat/tests/functionsfeed
  src/components/timelinepost.js
  src/configurafirebase/exports.js
  test/pages/feed.spec.js
Labels: test

#50 Test/function/edit post
  test/pages/feed.spec.js
Labels: test

#51 Test comment
  test/pages/feed.spec.js
Labels: test

#52 tests função removeComment e Css geral Desktop
  src/components/comments.js
  src/components/timelinepost.js
  src/components/timelineposts.css
  src/index.js
  src/pages/about/about.css
  src/pages/about/about.js
  src/pages/feed/feed.css
  src/pages/login/login.css
  src/pages/login/login.js
  src/pages/recover/recover-password.js
  src/pages/recover/recover.css
  src/pages/register/create-login.css
  src/pages/register/page-register.js
  src/style/reset.css
  test/pages/feed.spec.js
Labels: test, fix, Refactoring

#53 Readme
  README.md
  src/components/timelineposts.css
  src/pages/about/about.js
  src/pages/feed/feed.js
  src/pages/feed/without-user.js
  src/pages/register/create-login.css
  src/pages/register/page-register.js
  src/style/reset.css
Labels: documentation, fix
